ios-exercise.xcodeproj/project.xcworkspace/xcuserdata/*
ios-exercise.xcodeproj/xcuserdata/*
ios-exercise.xcodeproj/xcuserdata/likai.xcuserdatad/*
ios-exercise.xcworkspace/xcuserdata/*
ios-exercise.xcscmblueprint/*
Pods/*
node_modules/*
